<template>
    <div class="container">
        <div :class="classes">
            <img src="../assets/left.png" id="Nyv" alt="">
            <img src="../assets/right.png" id="Loco" alt="">
            <div class="clip">
                <span><b>{{ lastDonator }}</b> donated <b>${{ lastDonationAmount }}</b>!!</span>
            </div>
        </div>
        <div id="total">Total: ${{ total }}/${{ goal }}</div>
    </div>
</template>

<script>
    export default {
        name: "Widget",
        data: () => {
            return {
                active: false,
                lastDonation: null,
                audio: new Audio(require('../assets/ohyes.mp3')),
                total: "N/A",
                goal: "N/A"
            }
        },
        mounted() {
            window.ws = new WebSocket("wss://nyvena.com/ws")
            window.ws.onmessage = (message) => {
                // console.log(message);
                let data = JSON.parse(message.data);
                if (data.type === "donationsList") {
                    console.log(data);
                    if (this.lastDonation !== null && data.data[0].donation_id === this.lastDonation.donation_id)
                        return;
                    this.lastDonation = data.data[0];
                    this.toggleView();
                }
                if (data.type === "overview") {
                    this.total = data.total;
                    this.goal = data.goal;
                }
            }
        },
        computed: {
            classes() {
                let classes = ['box'];
                if (this.active) classes.push('active');
                return classes;
            },
            lastDonator() {
                if (this.lastDonation === null)
                    return "N/A";
                return this.lastDonation.donation_display_name;
            },
            lastDonationAmount() {
                if (this.lastDonation === null)
                    return "N/A";
                return this.lastDonation.amount;
            }

        },
        methods: {
            toggleView() {
                this.active = !this.active;
                if (this.active) {
                    this.audio.play();
                    setTimeout(this.toggleView, 10000);
                }
            },

        }
    }
</script>

<style lang="scss">
    #total {
        font-weight: bold;
    }

    .container {
        color: white;
        font-family: "Open Sans", sans-serif;
        font-size: 150%;
    }
    
    .box {
        color: #ffd1dc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 30px;

        .clip {
             b {
                 color: darkred;
             }

            color: white;
            padding: 10px 20px;
            width: 400px;
            height: 323px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 1.5s ease-in;
            transition-delay: 0.2s;
            clip-path: inset(0 50%);
        }

        img {
            position: absolute;
            width: 113px;
            height: 323px;
            top: 50px;
            transition: all 1.5s ease-in;
            transition-delay: 0.2s;

            &#Nyv {
                left: calc(50% - 113px);
            }

            &#Loco {
                right: calc(50% - 113px);
            }
        }
    }

    .active #Loco {
        right: calc(50% - 113px - 200px - 20px) !important;
    }

    .active #Nyv {
        left: calc(50% - 113px - 200px - 20px) !important;
    }

    .active .clip {
        clip-path: inset(0);
    }


    @keyframes clip {
        from, 40% {
            clip-path: inset(0 50%);
        }
        60%, to {
            clip-path: inset(0);
        }
    }

    @keyframes moveNyv {
        from, 40% {
            left: calc(50% - 100px);
        }
        60%, to {
            left: calc(50% - 320px);
        }
    }

    @keyframes moveLoco {
        from, 40% {
            right: calc(50% - 100px);
        }
        60%, to {
            right: calc(50% - 320px);
        }
    }
</style>
